<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/assets/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="/assets/photo.jpg" class="portrait"> 
        <p> This site is created by Atreyee Paul. It uses data from mapbox.com and weatherstack.com !!!</p>
    </div>
      
    {{>footer}} 
</body>

</html>